*.map
*.pyc
node_modules
tmp
npm-debug.log
.bundle
.idea
.aws
.env
gitcache
_site
.sass-cache
build

# Normally .npmrc files are tracked, but we're only using ours
# to store the token for CI
.npmrc

# I don't know why this file is now being produced
size-plugin.json

# Ignore VSCode project settings
*.code-workspace
