/**
 * Special handling of iframes for ensuring the metaframe is correctly maximized.
 */

.iframe-container {
    /* background-color: blueviolet; */
    /* padding-top: 100%; */
    position: relative;
    overflow-y:hidden;
}

.iframe-container iframe {
    overflow: hidden;
    border: 0;
    /* border: 1px solid red; */
    height: 100%;
    /* max-height: 100%; */
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
